body {
   background-color: #eaf3da; /* фон страницы */
  font-size: small;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}
h1, h2, h3 {
  color: #007e7e;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
.guarantee {
   font-family: Georgia, "Times New Roman", Times, serif;/*стиль шрифта*/
   font-size: 1.9em;/*размер шрифта*/
   color: #444444; /*цвет шрифта*/
   font-style: italic;/*наклон шрифта*/
   border-color: black; /*цыет границы черный*/
   border-width: 1px; /*ширина линии 2 пикселя*/
   border-style: solid;/*сплошная линия*/
   background-color: #a7cece;/*фоновый цвет квадрата*/
   padding: 25px;/*отступы со всех сторон 25пикселов*/
   padding-left: 90px;/*отступ слева для картинки*/
   margin: 30px;/*поля со всех сторон 30*/
   margin-right: 500px; /*поле справа*/
   line-height: 150%; /*интервал межстрочный шрифта*/
   background-image: url(image/zvezda2.gif);/*фоновая картинка*/
   background-repeat: no-repeat; /*без повторений  картинка no-repeat, repeat-x повтор по горизонталиб repeat-y по вертикали, inherit-делает то же самое что и родительский элемент*/
   background-position: top left; /*позиция картинки вверху слева top,left,right,bottom,center*/
}
